<div class="container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th [ngClass]="'name-cell'" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td [ngClass]="'name-cell'" mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th [ngClass]="'id-cell'" mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td [ngClass]="'id-cell'" mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th [ngClass]="'priority-cell'" mat-header-cell *matHeaderCellDef mat-sort-header> Приоритет
        </th>
        <td [ngClass]="'priority-cell'" mat-cell *matCellDef="let row"> {{row.priority}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th [ngClass]="'date-cell'" mat-header-cell *matHeaderCellDef mat-sort-header> Дата </th>
        <td  [ngClass]="'date-cell'" mat-cell *matCellDef="let row"> {{row.showedDate}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr (click)="getRecord(row)" mat-row *matRowDef=" let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <div class="bottom">
    <button mat-raised-button color="primary" (click)="openDialog()" class="btn btn__new">Create</button>
  </div>

</div>
